/* small device */
@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .banner {
    flex-direction: column;
  }
  .banner-info {
    width: 100%;
  }
  .banner-title,
  .banner-title span {
    font-size: 2.25rem;
  }
  .btn {
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
  }
  .banner-btns {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
  }
  .tutorial-box {
    left: 0;
    bottom: 42%;
    padding: 0.8rem;
  }
  .tutorial-info p {
    font-size: 0.8rem;
  }
  #workout-box {
    top: 10%;
    right: 0%;
    padding: 0.8rem;
  }

  /* habit change */
  .habit-box {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
  .title {
    font-size: 2.25rem;
  }

  /* run */
  .run {
    flex-direction: column;
    padding: 1.5rem 0.9rem;
  }
  .run-info {
    align-items: stretch;
  }
  .run-info,
  .run-image {
    width: 100%;
  }
  /* bmi calculator */
  .calculator-content {
    flex-direction: column;
  }
  .bmi-chart {
    width: 100%;
  }

  .bmi-chart-title,
  .bmi-form-title {
    color: rgb(255, 255, 255);
    font-size: var(--font-16);
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
  }
  input,
  select {
    padding: 1rem 0.66rem;
  }
  .bmi-btn {
    margin-top: 1.5rem;
    max-width: 100%;
  }
  /* team */
  .team-gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  /* upcomming class */
.upcomming-dayes {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0.9rem;
  }
  .day {
    width: 80%;
  }
  .class-number,
  .class-info {
    width: 100%;
  }
  .classes {
    flex-direction: column;
  }
  .class-number h2 {
    font-size: 4.5rem;
    margin-top: 1rem;
  }
  .class-number h4 {
    font-size: 1.5rem;
  }
  .class-info{
    flex-direction: column;
    align-items: flex-start;
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .menu {
    gap: 0.88rem;
  }
  .banner {
    flex-direction: column;
  }
  .banner-info {
    width: 100%;
  }
  /* habit change */
  .habit-box {
    grid-template-columns: repeat(2, 1fr);
  }
  /* run */
  .run {
    flex-direction: column;
    padding: 1.5rem 0.9rem;
  }
  .run-info {
    align-items: stretch;
  }
  .run-info,
  .run-image {
    width: 100%;
  }
  /* bmi calculator */
  .calculator-content {
    flex-direction: column;
  }
  .bmi-chart {
    width: 100%;
  }
  table {
    width: 100%;
  }
  /* team */
  .team-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
   /* upcomming class */
   .upcomming-header {
    gap: 2rem;
    padding: 1.5rem 0.9rem;
  }
  .upcomming-dayes {
    padding: 1.5rem 0.9rem;
    flex-wrap: wrap;
  }
  .class-number,
  .class-info {
    width: 100%;
    align-items: flex-start;
  }
  .class-number{
    align-items: center;
    
  }
  .class-number h2 {
    font-size: 4.5rem;
    margin-top: 1rem;
  }
  .class-number h4 {
    font-size: 1.5rem;
  }
}
/* large device */
@media screen and (min-width: 992px) {
  #workout-box {
    top: 30%;
    right: 0%;
    padding: 0.7rem;
    width: 53%;
  }
}
